$--text-color-1: #000;
$--text-color-2: #5e5e5e;
$--text-color-3: #656161;
$--text-color-4: #b3b3b3;
$--text-color-5: #d2d2d2;
$--text-color-6: #ffffff;

$--primary-color-1: #678174;
$--primary-color-2: #749082;
$--primary-color-3: #839c90;
$--primary-color-4: #93a99e;
$--primary-color-5: #a2b5ac;
$--primary-color-6: #b2c1ba;

$--secondary-color-1: #ffdfbb;
$--secondary-color-2: #ffe2c2;
$--secondary-color-3: #ffe5c9;
$--secondary-color-4: #ffe9cf;
$--secondary-color-5: #ffecd6;
$--secondary-color-6: #ffefdd;
